body {
     margin: 8px;
    }
 h1 {
    font-size: 200%;
     margin : 20px;
     font-family :cursive;
     color : black;
 }
h2 {
     font-size : 175%;
     margin: 20px;
     font-family: fantasy;
     color : green;
 }
 ul {
     margin: auto;
}
 h3 {
     margin: 20px;
     font-size: 150%;
     font-family :sans-serif;
 }

 p {
     margin: 15px 0px;
 }
 figure {
     margin: 0px 40px;
 }
figcaption {
     font-style: italic;
 }

p img {
  height : 25px;
  width : 25px;
}

div img {
  margin : 10px;
  padding : 10px;
  height : 150px;
  width : 150px;
}
